<!-- navbar -->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<nav>
    <div class="nav-container">
       <a class="logo options-items" href="home">MyAPP</a>

        <form class="navbar-input-container" method="get" action="/search">
          <div class="search-wrapper">
                <input name="search" id="input" class="navbar-input" type="text" placeholder="Search for friend, post or video"
                autocomplete="off"  onFocus="show()" onload="clear()">
                <button class="searchButton"><span class="material-symbols-outlined">search</span></button>
                <div id="searchAlert">
                    <p style="text-align: center; margin-top: 10px; color: red;">"The user you are looking for doesnt exist!"</p>
                </div>
                <div class="searchResults">
                    <ul id="searchUl">
                        <% users.forEach((user)=> { %>

                            <div class="result" onclick="selectResult('<%= user.username %>')">
                                <% if(user.profilePic !== ""){ %>
                                    <img src="<%=user.profilePic %>" alt="pic">
                                <% } else{ %>
                                    <img src="/images/def-profile.webp">
                                <% } %>
            
                                <a><%= user.username %></a>
                            </div>
                        <%})%>

                    </ul>
                </div>
                
            </div>
        </form>

       <div options-cont>
            <ul class="options">
                <a class="options-items" href="/myprofile">My profile</a>
                <a class="options-items" href="/auth/logout">Log out</a>
            </ul>   
            <span class="material-symbols-outlined" id="menu" onclick="dropdown()">menu</span>
            <div class="hamburger-menu">
                <div>
                    <a href="/myprofile">My profile</a> 
                </div>
                <div>
                    <a href="/auth/logout">Log out</a>
                </div>
            </div>
       </div>
    </div>
</nav>
<script>    
    const resultList = document.querySelector('.searchResults')

    const show = () => {
        resultList.style.display = 'flex'
    }

    const clear = () => {
        input.value === ""
    }

    // Show dropdown when button is clicked
    const dropdown = () => {
        const menu = document.querySelector(".hamburger-menu")
        menu.style.display = " flex"
    }
    
    // Close any dropdowns if the user clicks outside of it
    window.onclick = function(event) {
        const resultList = document.querySelector('.searchResults')

        if (!event.target.matches('#menu')) {
            const dropdown = document.querySelector(".hamburger-menu")
            dropdown.style.display = "none"
        }
        if (!event.target.matches('#input')) {
            resultList.style.display = 'none'
        }
    }

    // List filtering by input
    const inputField = document.querySelector('.navbar-input')
    const form = document.querySelector('.navbar-input-container')
    const resultsDivs = document.querySelectorAll('.result')

    inputField.addEventListener('input', function() {
        const filter = inputField.value.toLowerCase()
        
        resultsDivs.forEach(function(div) {
            const username = div.querySelector('a').textContent.toLowerCase()

            if (username.includes(filter)) {
                div.style.display = ''
            } else {
                div.style.display = 'none'
            }
        })
    })

    // send selected result to the input field
    function selectResult(result) {
        inputField.value = result
        form.submit()
    }

    // Alert user searched doesnt exist
    const alert = document.querySelector('#searchAlert')
    const urlParams = new URLSearchParams(window.location.search);
    
    if(urlParams.get('error')) {

        alert.style.display = 'block'
        setTimeout(function(){
            alert.style.display = "none"
        }, 3000)
        
    }


</script>   